html{
	box-sizing: border-box;
}

* , *:before , *:after{
	box-sizing: inherit;
}	

/* body starts from here*/

body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}
.content {
  height: 200vh;
  background-image: url(//unsplash.it/1000/1000);
  background-color: green;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}

.logo{
	background:rgba(0,0,0,0.1);
  color: white;
  font-size: 30px;
  font-family: 'Playfair Display', serif;
}

/*header  and navigation bar starts from here*/

header {
 background:rgba(0, 0,0,0.1);
 text-align: center;
 position: fixed;
 z-index: 999;
 width: 100%;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: rgba(0, 214, 170, .85);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  
  .logo {
    grid-column: 2 / 3;
  }
  
  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
}

h4{
  display: none;
}


/* css for the hero image begans from here*/

.example{
	padding:100px;
	height: 90vh;
	display: flex;
	background-image: url(img/Friends.jpg);
  background-attachment: fixed;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%; 
}	

.para{
	text-align: center;
	font-weight: 100;
	font-family: 'Crimson Text', serif;
	font-size: 18px;
	background: rgba(0,0,0,0.2);
	color: white;
}


/*css for the 3 coloumn portion */

.grid{
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content:flex-start;
	flex-wrap: wrap;
}

.box{
	width: 900px;
	height: 660px;
	flex :1;
	background:rgba(255 , 255 , 255 , 0.2);
	padding: 20px;
	margin: 20px;
}

.box img{
	width: 200px;
	height: 300px;
}

.box img:hover{
  transform: scale(1.1);
}

.box1{
	text-align: center;
	font-style: italic;
	font-weight: 100;
}


.box2{
	text-align: center;
	font-style: italic;
	font-weight: 100;
}


.box3{
	text-align: center;
	font-style: italic;
	font-weight: 100;
}

.box4{
	text-align: center;
	font-style: italic;
	font-weight: 100;
}

.box5{
	text-align: center;
	font-style: italic;
	font-weight: 100;
}

.box6{
	text-align: center;
	font-style: italic;
	font-weight: 100;
}

/*css for the footer*/

.amazon a{
	color: yellow;
}

.pogo img{
	width:100%;
	height: 70%;
}

/* button for footer*/

.button{
  margin: 10px auto;
  display: -webkit-box;   
  display: -moz-box;  
  display: -ms-flexbox; 
  display: -webkit-flex; 
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  max-width: 50%;
}

.button a{
  flex:1;
  background:blue;
  font-size: .9em;
  margin: .3em;
  color: white;
  text-decoration: none;
  text-align: center;
}

.button a:hover{
  background-color:#EF75E0  ;
}


h3{
  color: white;
  text-transform: uppercase;
  font-family:  'Nunito';
}

/*css for social media content*/

.fa {
  padding-right: 50px;
  padding-left: 60px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.foot p {
  text-align: center;
  color: white;
}

.amazon{
  color: grey;
}

.foot a{
  text-decoration: none;
}
.fa-facebook-square{
  color:  #0a87d3 ;
}

.fa-facebook-square:hover{
  color:#0b15de;
  transform: scale(2);
}

.fa-twitter-square{
  color:#00aced;
}

.fa-twitter-square:hover{
  color:#c0deed;
  transform:scale(2);
}

.fa-instagram{
  color:#ded1c1;
}

.fa-instagram:hover{
  color: yellow;
  transform:scale(2);
}


/* media quires for the smaller screen */


@media screen and (max-width: 580px){
	.box img:hover{
		transform: scale(1);
	}
}
@media screen and (max-width : 500px){
	.container{
		flex-wrap: wrap;
		font-size: 15px;
	}
}

@media screen and (max-width: 500px){
  .button{
    flex-direction: column;
    font-size: 12px;
  }
}

@media screen and (max-width: 500px){
	.fa{
		flex-direction: column;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 400px){
  .example{
    background-image: url(img/central.jpg);
  }
}